@use '../../../assets/styles/__variables.scss' as *;

.input {
  &_text {
    flex: 1;

    label {
      font-size: $text-sm;

      @media (max-width: $screen-tablet) {
        font-size: $text-base;
      }
    }
  }

  &_container {
    display: flex;

    background-color: $bg-input;
    padding: $pad-input;
    border-radius: $rad-input;

    color: $color-input;
    input {
      width: 100%;
      background: none;
      border: none;
      outline: none;


      // padding: .325rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-input-placeholder;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        
        background: none;

        -webkit-background-clip: text;
        -webkit-text-fill-color: $color-input;
      }
    }
  }
}