@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;700&family=Inria+Sans:ital,wght@0,400;0,700;1,300&family=Inter:wght@300;700&family=Karantina:wght@300;400;700&display=swap');


//////////////////////////////////////
//              COLORS              //
//////////////////////////////////////

$beige:                 #eae1cb;
$gold:                  #d3a222;
$blue:                  #034460;

$product-main:          #FF6B00;

$noir:                  #171717;
$blanche:               #fff;

$error:                 red;
$success:               green;

        /* Main */
$bg-body:               $beige;

        /* Map */
$bg-map:                $noir;

        /* Texts */
$color-title:           lighten($product-main, 20%);
$color-text:            $noir;
$color-text-dark:       $blanche;
$color-error:           $product-main;

        /* Navigation */
$color-navlink:         $gold;
$color-navlink-hover:   $product-main;

$bg-navbar:             $blue;
$bg-nav-item-hover:     $product-main;

        /* Menu */
$bg-menu:               $gold;
$bg-menu-list:          $beige;
$bg-menu-item:          $gold;
$bg-menu-item-hover:    $product-main;
        
        /* Buttons */
$color-btn-prm:         $blanche;

$bg-btn-prm:            $product-main;
$bg-btn-prm-hover:      darken($product-main, 5%);
$bg-btn-prm-disabled:   darken($product-main, 30%);

        /* Links */
$color-link:            $product-main;

        /* Inputs */
$color-input:           $noir;
$color-input-placeholder:lighten($noir, 30%);

$bg-input:              $blanche;

        /* Cards */
$bg-card-dark:          $blue;
$bg-card-light:         $beige;

$bg-card-login:         $blue;

        /* Message Error - Success */
$color-error:           $error;
$color-success:         $success;

//////////////////////////////////////
//             SPACES               //
//////////////////////////////////////

$mar-input:             0 0 1rem 0;
$pad-input:             .5rem 1rem;

$mar-message:           .375rem 0;

$pad-button:            .375rem 2rem;

//////////////////////////////////////
//             RADIUS               //
//////////////////////////////////////

$rad-button:            5px;
$rad-input:             5px;
$rad-card-lg:           10px;

//////////////////////////////////////
//              TEXT                //
//////////////////////////////////////

/*
font-family: 'Alumni Sans', sans-serif;
font-family: 'Inria Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karantina', cursive;
*/

$font-suptitle:         'Inria Sans', sans-serif;
$font-title:            'Karantina', cursive;
$font-text:             'Alumni Sans', sans-serif;
$font-link:             'Inter', sans-serif;

    // SIZE
$text-base:             16px;    // 1rem

$text-xl:               8rem;    // 128px 
$text-lg:               4rem;    // 64px
$text-md:               2rem;    // 32px
$text-sm:               1.25rem; // 24px
$text-xs:               .75rem;  // 16px


//////////////////////////////////////
//           SCREEN SIZE            //
//////////////////////////////////////

        // Small small screen / phone small
$screen-xs:             320px;
$screen-xs-min:         $screen-xs;             // 320px
$screen-phone:          $screen-xs-min;         // 320px
        // Small screen / phone
$screen-sm:             480px;
$screen-sm-min:         $screen-sm;             // 480px
$screen-tablet-small:   $screen-sm-min;         // 480px
        // Medium screen / tablet
$screen-md:             768px;
$screen-md-min:         $screen-md;             // 768px
$screen-tablet:          $screen-md-min;         // 768px
        // Medium screen / desktop small
$screen-lg:             992px;
$screen-lg-min:         $screen-lg;             // 992px
$screen-desktop-min:    $screen-lg-min;         // 992px
        // Large screen / desktop
$screen-xl:             1200px;
$screen-xl-min:         $screen-xl;             // 1200px
$screen-desktop:        $screen-xl-min;         // 1200px
        // Large screen / desktop wide
$screen-xxl:            1440px;
$screen-xxl-min:        $screen-xxl;            // 1440px
$screen-desktop-wide:   $screen-xxl-min;        // 1440px