@use '../../assets/styles/__variables.scss' as *;

.btn {
  &_prm {
    background-color: $bg-btn-prm;

    padding: $button-padding;

    border-radius: $radius-button;

    transition: background linear .125s;

    &:hover {
      background-color: $bg-btn-prm-hover;
    }
  }
}