@use '../../assets/styles/__variables.scss' as *;

.message {
  width: 100%;
  min-height: calc($text-sm + 2px);
  margin: $mar-message;

  &Content {
    font-size: $text-sm;
  }

  &Error {
    color: $color-error;
  }

  &Success {
    color: $color-success;
  }
}