@use '../../assets/styles/__variables.scss' as *;

.message {
  width: 100%;
  min-height: calc(1rem + 2px);
  margin: $mar-message;

  
  &Content {
    font-size: $text-base;
  }

  &Error {
    color: $color-error;
  }

  &Success {
    color: $color-success;
  }
}