@use '../../../assets/styles/__variables.scss' as *;

.form_row {
  display: flex;
  gap: 1rem;

  @media (max-width: $screen-tablet-small) {
    flex-direction: column;
    gap: 0;    
  }

  button {
    align-self: flex-end;

    @media (max-width: $screen-tablet-small) {
      align-self: center;
    }
  }
}

.textarea {
  flex: 1;

  label {
    font-size: $text-sm;

    @media (max-width: $screen-tablet) {
      font-size: $text-base;
    }
  }

  &_container {
    display: flex;

    background-color: $bg-input;
    padding: $pad-input;
    border-radius: $rad-input;

    textarea {
      width: 100%;
      background: none;
      border: none;
      outline: none;

      color: $color-input;

      resize: vertical;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-input-placeholder;
      }
    }
  }
}