@use '../../assets/styles/__variables.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Inputs {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.errorMessage {
  text-align: center;
}